<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered">
        <h1 class="title is-1 has-text-weight-bold">
          The smartest way to learn <br>political campaigning
        </h1>
        <p class="subtitle is-4">
          Giving Democrats the skills needed to lead campaigns to <br>victory in 2020 and beyond
        </p>
        <%= link_to "Register for Launch", "/launch-registration", class: "button is-info is-large" %>
      </div>
    </div>
  </div>
</section>
